# Common Infrastructure Host (localhost, IP, or host.docker.internal or https://am.munish.org/api/market)
INFRA_HOST=100.72.208.15

# GitHub Package Registry
GITHUB_PACKAGES_USERNAME=
GITHUB_PACKAGES_TOKEN=

# PostgreSQL Sleep
POSTGRES_URL=jdbc:postgresql://${INFRA_HOST}:5432/portfolio
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=

# MongoDB
MONGODB_URL=mongodb://${MONGODB_USERNAME}:${MONGODB_PASSWORD}@${INFRA_HOST}:27017/market_data?authSource=admin
MONGODB_DATABASE=market_data
MONGODB_USERNAME=admin
MONGODB_PASSWORD=

# Redis
REDIS_HOSTNAME=${INFRA_HOST}
REDIS_PORT=6379
REDIS_PASSWORD=

# Kafka Config
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=am-market-data-group

# Kafka Auth
KAFKA_USERNAME=kafkaUser
KAFKA_PASSWORD=

# InfluxDB
INFLUXDB_URL=http://${INFRA_HOST}:8086
INFLUXDB_TOKEN=
INFLUXDB_ORG=am-portfolio
INFLUXDB_BUCKET=market-data

# Application Topics
STOKUPATE_TOPIC_NAME=am-stock-price-update
NSE_INDICES_TOPIC_NAME=nse-indices-update
NSE_ETF_TOPIC_NAME=nse-etf-update

# JWT Secrets
JWT_SECRET=
INTERNAL_JWT_SECRET=

# API Keys
UPSTOX_API_KEY=
UPSTOX_SECRET_KEY=
UPSTOX_CODE=
UPSTOX_ACCESS_TOKEN=

ZERODHA_API_KEY=
ZERODHA_API_SECRET=

# Parser Config
PARSER_MONGO_DB=mutual_funds
PARSER_PORT=8000
